root = true

[*]
# 改行コード
end_of_line = lf
# 最終行に改行を追加する
insert_final_newline = true

[*.php]
# インデントスタイル：タブ文字
indent_style = tab

[*.js]
# インデントスタイル：2スペース
indent_style = space
indent_size = 2