<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>sample</title>
</head>
<body>
test aaaaaaaa bbbbb ccccc
<% var myParam = 'Hello! EJS!aaaa'; %>
<div><%= myParam %></div>

<% include ./src/_header.ejs %>
<img src="<%= require('./assets/img/common/sean-foley-733808-unsplash.jpg') %>" height="300" width="300" alt=""/>
</body>
</html>
